package {{package}};

{{#imports}}import {{import}};
{{/imports}}

{{#rxInterface}}
import rx.Completable;
import rx.Single;
{{/rxInterface}}
{{^rxInterface}}
import io.vertx.core.AsyncResult;
import io.vertx.core.Handler;
{{/rxInterface}}

import {{rootPackage}}.Api;

import java.util.List;
import java.util.Map;

public interface {{classname}} extends Api {
{{#operations}}
{{#operation}}
    //{{#vendorExtensions}}{{x-serviceid}}{{/vendorExtensions}}
    {{#rxInterface}}
{{>rxMethod}}
    {{/rxInterface}}
    {{^rxInterface}}
{{>asyncMethod}}
    {{/rxInterface}}

{{/operation}}
{{/operations}}
}
