// ------------------------------------------------------------------
// NOTICE file corresponding to the section 4d of The Apache License,
// ------------------------------------------------------------------

This product includes software developed by Github users: @phiz71, @bignacio, @lopesmcc
vertx-swagger (https://github.com/phiz71/vertx-swagger)

This product includes software developed by
The Apache Software Foundation (http://www.apache.org/).

